<div class="container-fluid first-container">
	<div id="orb-box-container-inner">
			<h1 id="top-header">They're waiting to <span id="header-msg">hear your music</span></h1>
	   		<div id="orb-box" class="container-fluid"></div>
	</div>
</div>
<div id="panel-2">
</div>
<div id="panel-3">
</div>
<div id="panel-4">
</div>
<div id="panel-5">
</div>

<div id="login">
    <input type="image" onclick="location.href='/auth/soundcloud';" src="http://connect.soundcloud.com/2/btn-connect-s.png" />	
</div>