<!-- Login Modal -->

<div id="loginModal" class="modal fade" role="dialog">
  <div class="v-modal-container">
    <div class="modal-dialog modal-sm v-centered-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <p>Login with your email.</p>
          <form>
            E-mail address:<br>
            <input type="text" name="email">
            <br>
            Password:<br>
            <input type="text" name="password">
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>