		<!-- Fixed navbar -->

	    <nav class="navbar navbar-default navbar-fixed-top" id="navbar">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand menu-item" href="/">Home</a>
	          <div class="dropdown navbar-brand menu-item navbar-plays" onclick="markSeen()">
	          	<a href="#" class="dropdown-toggle menu-item navbar-plays-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plays</a>
	          	<ul class="dropdown-menu">
	          	</ul>
	          </div>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="#about" class="menu-item">About</a></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Content<span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="/player">Music</a></li>
	                <li><a href="#">Video</a></li>
	                <li><a href="#">Images</a></li>
	                <li role="separator" class="divider"></li>
	                <li><a href="#">Most Active</a></li>
	                <li><a href="#">Who's Hot</a></li>
	              </ul>
	            </li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	          	<% if (!req.session.user) { %>
		            <li><a href="#" class="menu-item" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
		            <li><a href="#" class="menu-item" data-toggle="modal" data-target="#loginModal">Log In</a></li>
		            <!-- TODO: add else statement, currently req.user not working -->
	            	<li><a href="/logout" class="menu-item">Log Out</a></li>
            	<% } %>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>


<!-- inlcude modals -->
<%- include signup %>
<%- include login %>