<!-- Signup Modal -->

<div id="signupModal" class="modal fade" role="dialog">
  <div class="v-modal-container">
    <div class="modal-dialog modal-sm v-centered-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Signup</h4>
        </div>
        <div class="modal-body">
          <input type="image" onclick="location.href='/auth/soundcloud';" src="http://connect.soundcloud.com/2/btn-connect-sc-s.png" />
          <hr>
          <p>Sign up with your email</p>
          <form>
            User name:<br>
            <input type="text" name="username">
            <br>
            E-mail address:<br>
            <input type="text" name="email">
            <br>
            Password:<br>
            <input type="text" name="password">
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>